<?xml version="1.0"?>
<!-- ROS2/Harmonic blue lidar model; legacy geometry and offsets retained. -->
<robot name="mbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="use_ros2_control" default="false"/>

    <xacro:include filename="$(find mbot_description)/urdf/xacro/gazebo/mbot_base_gazebo.xacro" />

    <xacro:property name="lidar_offset_x" value="0" />
    <xacro:property name="lidar_offset_y" value="0" />
    <xacro:property name="lidar_offset_z" value="0.080" />

    <xacro:mbot_base_gazebo color_car="Blue" use_ros2_control="$(arg use_ros2_control)"/>

    <!-- lidar VLP-16 -->
    <!-- <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
    <xacro:VLP-16 parent="base_link">
        <origin xyz="${lidar_offset_x} ${lidar_offset_y}
    ${lidar_offset_z}" rpy="0 0 0" />
    </xacro:VLP-16> -->

    <!-- lidar HDL-32 -->
    <xacro:include filename="$(find mbot_description)/sensors/hdl32e.xacro" />
    <xacro:hdl32e parent="base_link">
        <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0" />
    </xacro:hdl32e>

    <!-- IMU -->
    <xacro:include filename="$(find mbot_description)/sensors/imu.xacro" />
    <xacro:imu sensor_name="imu" parent_link="base_link">
        <origin rpy="0 0 0" xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z+0.17}" />
    </xacro:imu>

</robot>
