<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="uc2025_asm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="14.4968209165816 7.99782539746296 0.027578006098971"
        rpy="0 0 0" />
      <mass
        value="165602.40303212" />
      <inertia
        ixx="2258192.5561425"
        ixy="-31395.6639640331"
        ixz="-0.673284054153577"
        iyy="6888923.77893801"
        iyz="0.567053377096229"
        izz="9143360.02362683" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rmchangdi1230/meshes/base_link2025.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rmchangdi1230/meshes/base_link2025.STL" />
      </geometry>
    </collision>
  </link>
</robot>
